.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.pretty{
  color: var(--primary-color);
}

.pink{
  color: var(--text-light-color);
  font-weight: 400;
}

.logo:hover{
  cursor: pointer;
}