.catalogPage {
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  height: 40vh;
}

.heroImage {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.heroContent h3 {
  color: var(--text-light-color);
  font-family: "Anton", sans-serif;
  font-weight: 1;
  font-size: 3rem;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
}

.categorySelectorContainer {
  width: 20%;
  background-color: var(--background-color-light);
  border-right: 1px solid var(--background-color-light-border);
}

.categorySelectorContainerMobile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--background-color-light);
  border-right: 1px solid var(--background-color-light-border);
  display: none;
    left: -100%;
}

.active {
  left: 0;
}

.filtersContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 var(--spacing-xxl);
  gap: var(--spacing-md);
  border-bottom: 1px solid rgb(207, 207, 207);
  background-color: var(--background-color-light);
}

.filtersButton {
  width: 180px;
  height: 40px;
  padding: var(--spacing-sm);
  border: 1px solid var(--background-color-light-border);
  border-radius: var(--border-radius);
  display: none;
}

@media (max-width: 992px) {
  .content {
    width: 100%;
  }

  .categorySelectorContainer {
    display: none;
  }

  .categorySelectorContainerMobile {
    display: block;
  }

  .filtersButton {
    display: block;
  }
}

@media (max-width: 768px) {
  .filtersContainer {
    justify-content: space-evenly;
    padding: 0 var(--spacing-sm);
  }
}