.cart-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  right: -60%;
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  transition: var(--animation);
  .cart-top {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black-color);
  }
  .cart-list {
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
    overflow-y: auto;
    background-color: var(--background-color);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    .cart-item {
      width: 100%;
      height: 30%;
      display: flex;
      align-items: center;
      text-align: center;
      border-radius: 20px;
      padding: var(--spacing-xs);
      background-color: var(--white-color);
      .cart-item-img {
        height: 100%;
        width: 20%;
        object-fit: cover;
        border-radius: 20px;
      }
      .cart-item-name-and-size {
        width: 50%;
        font-size: var(--font-size-sm);
      }
      .cart-item-price {
        width: 20%;
        color: var(--primary-color);
      }
      .cart-item-remove-button {
        width: 50px;
        height: 50px;
        font-size: var(--font-size-xl);
        background-color: var(--primary-color);
        color: var(--white-color);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--animation);
      }
      .cart-item-remove-button:hover {
        background-color: var(--black-color);
      }
    }
  }
  .cart-bottom {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--white-color);
    .cart-bottom-total {
      height: 15%;
      font-size: var(--font-size-lg);
    }
    .cart-bottom-buttons {
      height: 15%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--spacing-md);
      padding: var(--spacing-sm);
      transition: all 0.3s ease;
      .cart-bottom-button {
        background-color: var(--primary-color);
        height: 50px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        color: var(--white-color);
        font-size: var(--font-size-md);
      }
      .cart-bottom-button:hover {
        background-color: var(--black-color);
      }
    }
  }
}
.cart-modal-active {
  right: 0;
}
/* Responsive styles */
@media (max-width: 768px) {
  .cart-modal {
    width: 100%;
    right: -100%;
  }
  .cart-modal-active{
    right: 0;
  }
}
