.product{
  margin-top: 10vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  .product-section{
    display: flex;
  }
}
/* Responsive styles */
@media (max-width: 768px) {
  .product{
    .product-section{
      flex-direction: column;
    }
  }
}