.header {
  top: 0;
  z-index: 10;
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-lg);
  padding: 0 var(--spacing-xxl);
  transition: background-color 0.5s ease-in-out;
}

.scrolled {
  background-color: var(--background-color);
}

.logoContainer {
  margin-right: auto;
}

.actions {
  display: flex;
  gap: var(--spacing-lg);
  align-items: center;
}

.menuButton {
  display: none; /* Hidden on desktop */
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  color: var(--text-light-color);
  background-color: transparent;
  padding: var(--spacing-sm);
  transition: color 0.2s;
}

.menuButton:hover {
  color: var(--primary-color);
}

.desktopNav {
  display: block;
}

/* We need to import the navLink styles for the desktop nav */
.navLink {
  color: var(--text-light-color);
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  padding: var(--spacing-sm);
}

.navLink:hover {
  color: var(--primary-color);
}


/*-------------------------------------------------------
# Responsive
---------------------------------------------------------*/
@media (max-width: 992px) {
  .header {
    padding: 0 var(--spacing-lg);
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 var(--spacing-md);
  }

  .desktopNav {
    display: none;
  }

  .actions {
    gap: var(--spacing-sm);
  }

  .menuButton {
    display: flex;
  }
}
