.loginContainer {
  position: relative;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  font-size: 1.6rem;
  border-radius: 50px;
  padding: var(--spacing-sm);
  color: var(--text-light-color);
  transition: color 0.3s ease-in-out;
  background-color: transparent;
}

.loginButton:hover {
  color: var(--primary-color);
}

.avatarImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.avatarInitial {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--text-light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.loginModal {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-light);
  gap: var(--spacing-sm);
  padding: var(--spacing-lg);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.2s ease-in-out;
  z-index: 20;
}

.loginModalOpen {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.userInfoContainer {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: var(--spacing-md);
  color: var(--text-dark-color);
}

.userInfoContainer p {
  margin: 0;
}

.modalButtons {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}

.modalButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  width: 120px;
  height: 40px;
  color: var(--text-light-color);
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.2s;
}

.modalButtons button:hover {
  background-color: var(--primary-color-dark);
}

.modalButtons button:last-child {
  background-color: var(--background-color-light-border);
  color: var(--text-dark-color);
}

.modalButtons button:last-child:hover {
  background-color: var(--grey-color-dark);
}
