.hero {
  position: relative;
  height: 100vh;
  width: 100%;
}

.video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-lg);
  color: var(--text-light-color);
  padding: var(--spacing-md);
  text-align: center;
  background-color: rgba(20, 0, 10, 0.5);
}

.title {
  font-size: 5rem;
  font-family: "Bebas Neue", sans-serif;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 500;

}

/*-------------------------------------------------------
# Responsive
---------------------------------------------------------*/

@media (max-width: 992px) {
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {}